<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <!--<li><a ng-href="#">About</a></li>-->
    <!--<li><a ng-href="#">Contact</a></li>-->
  </ul>
  <h3 class="text-muted">challenge</h3>
</div>


<div class="row light-grey">
    <div class="col-md-12" ng-controller="Data as data">
        <div class="well component-well dark-grey" ng-controller="Manager as manager" style="margin-top: 20px; height: 200px;">
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <!--DATE-->
                            <div class="col-md-3">
                                <label for="currentDate" class="col-md-3 control-label form-label" style="text-align: left">Current Date</label>
                                <p id="currentDate" style="display: inline">{{data.model.current_date | date: 'MMMM yyyy'}}</p>
                                <p id="period" style="display: inline">{{data.model.periodicity | capitalizeAllWords}}</p>
                            </div>
                            <!--PERIOD-->
                            <div class="col-md-3">
                                <label for="forecastPeriod" class="col-md-1 control-label form-label" style="text-align: left">Forecast Period</label>
                                <select id="forecastPeriod" class="form-control" ng-model="data.currentPeriod" ng-change="data.updateForecastPeriod()" ng-options="item as item.name for item in data.forecastPeriods">
                                    <pre>{{selectedItem | json}}</pre>
                                    <option value="" ng-if="data.currentPeriod">Select Forecast period.</option>
                                </select>
                            </div>
                            <!--GROWTH TYPE-->
                            <div class="col-md-3">
                                <label for="growth" class="col-md-1 control-label form-label" style="text-align: left">Growth</label>
                                <select id="growth" class="form-control" ng-model="data.currentGrowthType" ng-options="currOption for currOption in data.growthTypes" ng-change="data.updateGrowthType()"></select>
                            </div>
                            <!--MULTIPLIER-->
                            <div class="col-md-3">
                                <label for="multiplier" class="col-md-1 control-label form-label" style="text-align: left">Multiplier</label>
                                <!--TODO combine the two inputs into a directive-->
                                <input ng-if="data.currentGrowthType==='Exponential'" ng-disabled="data.currentGrowthType!=='Exponential'" type="number" id="multiplier" class="form-control" placeholder="ratio" ng-model="data.multiplier" autocomplete="off" ng-change="data.updateMultiplier()">
                                <input ng-if="data.currentGrowthType!=='Exponential'" ng-disabled="true" type="string" id="multiplier-disabled" class="form-control" placeholder="ratio" autocomplete="off">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="well component-well dark-grey" ng-controller="Projection as projection" style="min-height: 400px;">
            <!--<h5>projection</h5>-->
            <!--<p>currentPeriod: {{projection.currentPeriod}}</p>-->
            <!--<p>currentGrowthType: {{projection.currentGrowthType}}</p>-->
            <!--<p>Month: {{projection.currentMonth}}</p>-->
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <!--TIMEFRAME-->
                            <div class="col-md-2">
                                <label for="timeframe" class="col-md-3 control-label form-label" style="text-align: left">Timeframe</label>
                                <input type="number" id="timeframe" class="form-control" ng-model="data.timeframe" autocomplete="off" ng-change="data.updateTimeframe()">
                            </div>
                            <!--SLIDER-->
                            <div class="col-md-4">
                                <label class="col-md-3 control-label form-label pull-right">{{projection.currentMonth}}</label>
                                <!--TODO change very ugly ui! :-(-->
                                <div style="margin-top: 50px;">
                                    <slider ng-model="projection.currentMonth" floor="0" ceiling="100"></slider>
                                </div>
                            </div>
                            <!--CHART-->
                            <div class="col-md-6">
                                <nvd3 options="projection.options" data="projection.data"></nvd3>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
  <p>russell@factornine.co.uk</p>
</div>
